$bg-head: #282828;
$bg-one: #ffffff;
$bg-two: #f9fcff;
$color-txt: #545454;
$color-txt-title: #b5b5b5;
$color-txt-light: #e0e0e0;
$color-txt-holder: #a9a9a9;
$color-txt-sec: #2f80ed;
$btn-bg: #ffc700;
$btn-bg-hover: #ffd84c;
$btn-bg-active: #f3c41e;
$color-error: #eb5757;
$color-row-border: #eaf2fd;
$field-border: #dddddd;
$bg-hover: #eaf2fd;