@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

body * {
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  height: 100%; }

body {
  position: relative;
  min-width: 100%;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

section.plato {
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%; }

.popup-cardedit,
.popup-cardnew {
  display: none; }
  .popup-cardedit.open,
  .popup-cardnew.open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50; }
    .popup-cardedit.open > .contact-card,
    .popup-cardnew.open > .contact-card {
      min-height: 100%; }

.inner {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 990px; }
  .inner.flex-column {
    flex-direction: column; }
  @media only screen and (max-width: 1023px) {
    .inner {
      padding: 0 16px; } }

.contact-list > .wrapper,
.contact-card > .wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }
  .contact-list > .wrapper.-top,
  .contact-card > .wrapper.-top {
    background-color: #282828;
    height: 48px;
    color: #e0e0e0; }
  .contact-list > .wrapper.-subtop,
  .contact-card > .wrapper.-subtop {
    background-color: #f9fcff;
    height: 56px;
    color: #545454; }
  .contact-list > .wrapper.-copy,
  .contact-card > .wrapper.-copy {
    background-color: #ffffff;
    height: calc(100dvh - 204px);
    align-items: baseline;
    color: #545454; }
    .contact-list > .wrapper.-copy > .inner,
    .contact-card > .wrapper.-copy > .inner {
      padding: 12px 0; }
  .contact-list > .wrapper picture,
  .contact-card > .wrapper picture {
    padding: 0 16px; }
    .contact-list > .wrapper picture img,
    .contact-card > .wrapper picture img {
      display: block; }
    .contact-list > .wrapper picture.icon-in-line,
    .contact-card > .wrapper picture.icon-in-line {
      padding-right: 8px; }
  .contact-list > .wrapper .top-title,
  .contact-card > .wrapper .top-title {
    font-size: 18px;
    line-height: .8;
    font-size: 20px;
    font-variant: all-small-caps;
    font-weight: 600; }
  .contact-list > .wrapper .inner,
  .contact-card > .wrapper .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.contact-card {
  background-color: #f9fcff; }
  .contact-card > .wrapper.-top {
    justify-content: center; }
    .contact-card > .wrapper.-top .fa {
      display: block;
      font-size: 18px;
      font-weight: 400;
      position: absolute;
      right: 12px;
      cursor: pointer;
      width: 24px;
      line-height: 24px;
      text-align: center; }
    .contact-card > .wrapper.-top .close-icon {
      display: block;
      position: absolute;
      right: 25px;
      cursor: pointer;
      padding: 0; }
  .contact-card > .wrapper-copy {
    padding: 24px 12px 48px 12px;
    background-color: #f9fcff; }
    .contact-card > .wrapper-copy .inner {
      width: 60%;
      max-width: 704px;
      margin: 0 auto;
      padding: 48px 64px 64px 64px;
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 6px rgba(148, 181, 225, 0.35);
      -moz-box-shadow: 0 0 6px rgba(148, 181, 225, 0.35);
      box-shadow: 0 0 6px rgba(148, 181, 225, 0.35); }
      .contact-card > .wrapper-copy .inner h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 32px;
        margin: 0 0 24px 0; }
      @media only screen and (max-width: 990px) {
        .contact-card > .wrapper-copy .inner {
          width: 81%; } }
      @media only screen and (max-width: 767px) {
        .contact-card > .wrapper-copy .inner {
          width: 96%; } }
      @media only screen and (max-width: 425px) {
        .contact-card > .wrapper-copy .inner {
          padding: 32px 20px 48px 20px; } }

.contact-form p {
  position: relative;
  margin-bottom: 12px; }
.contact-form .d-flex {
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px; }
  .contact-form .d-flex p {
    margin: 0;
    padding: 0; }
  .contact-form .d-flex:last-child {
    margin-bottom: 0; }
  .contact-form .d-flex .field,
  .contact-form .d-flex .dropdown {
    width: 70%; }
  .contact-form .d-flex .dropdown .field {
    width: 100%; }
  .contact-form .d-flex label {
    display: block;
    width: 29%; }
  .contact-form .d-flex.submit-zone {
    padding-left: 30%;
    margin: 32px 0 0 0;
    justify-content: flex-start;
    gap: 24px; }
    @media only screen and (max-width: 566px) {
      .contact-form .d-flex.submit-zone {
        padding-left: 0;
        justify-content: center; } }
  @media only screen and (max-width: 425px) {
    .contact-form .d-flex {
      flex-direction: column;
      justify-content: flex-start; }
      .contact-form .d-flex label {
        align-self: flex-start; }
        .contact-form .d-flex label + .dropdown {
          width: 100%; }
      .contact-form .d-flex .field {
        width: 100%; } }
  .contact-form .d-flex.error::before {
    content: "\f06a";
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: 32px;
    color: #eb5757;
    display: block;
    position: absolute;
    right: 12px;
    top: 5px;
    z-index: 200; }
    @media only screen and (max-width: 425px) {
      .contact-form .d-flex.error::before {
        top: 23px; } }
  .contact-form .d-flex.error .field, .contact-form .d-flex.error .field:hover, .contact-form .d-flex.error .field:focus, .contact-form .d-flex.error .field:focus-visible, .contact-form .d-flex.error .field:active {
    position: relative;
    border-color: #eb5757;
    color: #eb5757; }
  .contact-form .d-flex.error .field + mark {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: auto;
    left: auto;
    z-index: 30;
    padding: 0;
    margin: 0;
    color: #eb5757;
    text-align: right;
    font-size: 10px;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.content-header,
.content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  position: relative; }
  .content-header > .body-row > div:first-of-type,
  .content-body > .body-row > div:first-of-type {
    width: 40%; }
  .content-header > .body-row .middle-col,
  .content-body > .body-row .middle-col {
    width: 40%; }
    @media only screen and (max-width: 767px) {
      .content-header > .body-row .middle-col,
      .content-body > .body-row .middle-col {
        flex-direction: column; }
        .content-header > .body-row .middle-col > div:first-of-type, .content-header > .body-row .middle-col > div:last-of-type,
        .content-body > .body-row .middle-col > div:first-of-type,
        .content-body > .body-row .middle-col > div:last-of-type {
          width: 100%; } }
    .content-header > .body-row .middle-col > div:first-of-type,
    .content-body > .body-row .middle-col > div:first-of-type {
      width: 40%; }
    .content-header > .body-row .middle-col > div:last-of-type,
    .content-body > .body-row .middle-col > div:last-of-type {
      width: 60%; }
  .content-header > .body-row > div:last-of-type,
  .content-body > .body-row > div:last-of-type {
    width: 20%;
    text-align: right; }
  @media only screen and (max-width: 1023px) {
    .content-header,
    .content-body {
      padding-left: 16px !important;
      padding-right: 16px !important; } }

.body-row {
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eaf2fd; }
  .body-row.editable-row {
    cursor: pointer; }
  .body-row:last-of-type {
    border-bottom: none; }

.content-header {
  font-variant: small-caps;
  color: #b5b5b5;
  font-size: 12px;
  line-height: 16px; }
  @media only screen and (max-width: 767px) {
    .content-header > .body-row > .middle-col {
      flex-direction: row; }
      .content-header > .body-row > .middle-col > div:first-of-type, .content-header > .body-row > .middle-col > div:last-of-type {
        width: auto; } }

.uname {
  padding: 4px 8px 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }
  .uname samp {
    flex-grow: unset;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    display: inline-block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    background-color: #ffc700;
    color: #545454;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    padding: 0;
    margin: 0 12px 0 0; }

@media only screen and (max-width: 576px) {
  .desktop {
    display: none; } }

.mobile-var var {
  display: none; }
  @media only screen and (max-width: 767px) {
    .mobile-var var {
      display: inline-block; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.popover {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-size: 12px;
  line-height: 1.6;
  color: #545454;
  min-width: 100px;
  padding: 12px;
  position: fixed;
  top: auto;
  right: auto;
  bottom: 48px;
  left: 32px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(176, 197, 222, 0.5);
  -moz-box-shadow: 0 0 20px rgba(176, 197, 222, 0.5);
  box-shadow: 0 0 20px rgba(176, 197, 222, 0.5);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .popover .fa {
    color: #6fcf97;
    font-weight: 400;
    font-size: 14px;
    margin-right: 4px; }
  @media only screen and (max-width: 767px) {
    .popover {
      background-color: #545454;
      color: #ffffff;
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      top: 64px;
      right: auto;
      left: 50%;
      bottom: auto;
      width: auto;
      width: auto;
      text-align: center;
      padding: 12px 16px;
      transform: translateX(-50%); } }

.p-holder {
  font-weight: 400;
  color: #a9a9a9; }

::-ms-input-placeholder {
  color: #a9a9a9;
  font-weight: 400; }

::placeholder {
  color: #a9a9a9;
  font-weight: 400; }

p,
ul,
ol {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5; }
  p:last-of-type,
  ul:last-of-type,
  ol:last-of-type {
    margin-bottom: 0; }

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0; }

.field {
  position: relative;
  font-size: 14px;
  line-height: 8px;
  font-weight: 600;
  color: #545454;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 235px;
  height: 40px;
  border: 1px solid #dddddd;
  margin: 0;
  padding: 0 8px;
  background-color: #ffffff;
  cursor: pointer; }
  .field:hover, .field:focus, .field:focus-visible, .field:active {
    border-color: #2f80ed;
    outline: none; }
  .field::after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    display: block;
    line-height: 1;
    font-weight: 400; }
  @media only screen and (max-width: 424px) {
    .field {
      width: 172px; } }
  .field.blind {
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: inherit;
    height: auto; }
    .field.blind::after {
      display: none; }
    @media only screen and (max-width: 425px) {
      .field.blind {
        width: 70%; } }

.dropdown {
  position: relative; }
  .dropdown .dropdown-menu {
    display: block;
    max-height: 0;
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 10;
    top: calc(100% + 8px);
    bottom: auto;
    left: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
    -moz-transition: 0.35s all ease-in-out;
    -webkit-transition: 0.35s all ease-in-out;
    transition: 0.35s all ease-in-out;
    background-color: #ffffff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 6px rgba(148, 181, 225, 0.35);
    -moz-box-shadow: 0 0 6px rgba(148, 181, 225, 0.35);
    box-shadow: 0 0 6px rgba(148, 181, 225, 0.35); }
    .dropdown .dropdown-menu .dropdown-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 14px;
      line-height: 8px;
      font-weight: 400;
      line-height: 40px;
      background-color: #ffffff;
      color: #545454;
      text-decoration: none;
      padding: 0 8px 0 16px;
      cursor: pointer; }
      .dropdown .dropdown-menu .dropdown-item:first-of-type {
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0; }
      .dropdown .dropdown-menu .dropdown-item:last-of-type {
        -moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px; }
      .dropdown .dropdown-menu .dropdown-item.active {
        font-weight: 600; }
        .dropdown .dropdown-menu .dropdown-item.active::after {
          content: "\f00c";
          font-family: 'FontAwesome';
          display: block;
          line-height: 40px;
          font-weight: 400; }
      .dropdown .dropdown-menu .dropdown-item:hover {
        background-color: #eaf2fd; }
  .dropdown.show > .field i, .dropdown.show > .field::after {
    rotate: 180deg; }
  .dropdown.show .dropdown-menu {
    max-height: none;
    height: auto;
    overflow: visible;
    opacity: 1; }

.plus-contact {
  display: block;
  width: auto;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  border: 1px solid #2f80ed;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  font-variant: small-caps;
  color: #2f80ed;
  text-decoration: none;
  cursor: pointer; }
  .plus-contact span {
    display: block;
    position: relative;
    top: -1px; }
    .plus-contact span var {
      font-style: normal; }
      @media only screen and (max-width: 767px) {
        .plus-contact span var {
          display: none; } }
  .plus-contact::before {
    content: "\f067";
    display: block;
    font-family: 'FontAwesome';
    font-weight: 400;
    line-height: 1;
    margin-right: 6px; }

input:hover,
input:focus,
input:focus-visible,
input:active {
  border-color: #2f80ed;
  outline: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  padding: 0 16px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffc700;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  font-variant: small-caps;
  border: none;
  cursor: pointer; }
  .btn img {
    display: block;
    margin-right: 6px; }
  .btn:hover {
    background-color: #ffd84c; }
  .btn:active {
    background-color: #f3c41e; }
  .btn.loading img {
    display: none; }
  .btn.loading::before {
    content: url("../../images/loader.svg");
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    animation: spinner 2s linear infinite; }
  .btn.blind {
    background-color: transparent;
    color: #2f80ed;
    font-variant: normal; }

@keyframes spinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/* ♉ */
